{# <div class="is-flex is-flex-grow-1"></div> #}

<footer class="footer is-flex-shrink-1 mb-0">
    <div class="content has-text-centered">
        <p>
            <strong>AAD-OrgWebApp-with-ML</strong> &copy; 2021Q2 omae-muds.
        </p>
    </div>
</footer>

<style>
body {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.footer {
    flex-basis: 0%;
}
</style>