<!DOCTYPE html>
<html lang="ja">
<head>
    {% include "head.html.j2" %}
</head>
<body>
    {% include "navbar.html.j2" %}

    <main class="is-flex is-flex-grow-1">
    <div class="container">
        <section class="section">
            <h1 class="title">{{ title }}</h1>
            <h2 class="subtitle">{{ subtitle }}</h2>
        </section>
        <div class="box">
            {% block box %}{% endblock %}
        </div>
    </div>
    </main>
    {% include "footer.html.j2" %}
</body>
</html>